.surveypage{
    background-color:skyblue;
    
    text-decoration-color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15%;
    padding-top: 3%;
    padding-bottom: 8%;
    
}
.inside{
    font-size: 20px;
    text-align: left;
    display: flexbox;
}
.box{
    display: flexbox;
}